/*Global Designs*/

body {
	background: #cccccc;
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
	
}

header {
	background: #ee6e73;
	background-size:contain;
	height:115px;
}

header h1 {
    padding-top:30px;
    margin-top: 0px;
    text-align:center;
   font-family: 'McLaren', cursive;
   font-weight:bold;

}

.container{
	width:90%;
}

.header {
	text-decoration:none;
	color:white;
	font-weight:bold;
}

nav ul {
	display:inline-block;
	text-align:center;
}

nav ul a {
	font-size: 1.5em;
	padding: 0px 60px;
	text-align:center;
}

li .extra{
	display:inline-block;
	font-size: 1.0em;
}

.page-footer{
	text-align:center;
}

.linkedAccount {
	width:50px;
	margin: 0px 20px;
}

/*About Me Page*/

.desk1 {
	/*background-image: url("../images/symphony.png");*/
	height:120px;
}


.info {
	background-image: url("../images/desk1.jpg");
	background-size:cover;
	height:800px;
	border-top: solid white 8px;
    border-bottom: solid white 8px;
    font-weight:bold;
    font-size:1.1em;
}

.containerInfo {
	width:82%;
}
.mainSection, .portfolioLinks {
	background-color: rgba(247, 247, 247,0.8);
	font-family: 'Raleway', sans-serif;
	padding:20px;
	/*margin-top:60px;*/
	border-radius:15px;
}

.mainSection {
	margin-top:275px;
}

#hello {
	font-family: 'McLaren', cursive;
	font-weight:bolder;
	font-size:2.8em;
	margin-top:18px;
}

#marissa {
	width:85%;
	margin-top:25px;
	padding:10px;
	border: solid lightgrey 5px;
}

.learning{
	background: #87909e;
	border-top: solid white 8px;
	border-bottom: solid white 8px;
	color:white;
	padding:70px;
	font-size:1.7em;
	text-align:center;
}

.learning h3 {
	font-family: 'Grand Hotel', cursive;
    font-size: 3.0em;
    font-style: italic;
}


/*Projects Page*/

.link{
	text-decoration:none;
}

.work {
    background: #ee6e73;
    height: 171px;
    color: white;
    text-align: center;
    font-size:2.5em;
    font-weight:bold;
}

div.card {
	margin: 20px;
}

.card {
	border-radius:20px;
}

.card .card-image img {
	height: 215px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.card .card-title {
    font-weight: bold;
    font-size: 1.8em;
}

.card .card-reveal {
    line-height: 1.5;
    font-size: 1.3em;
    background-color:#eeefdc;
    color:black;
}